<div class="notice {{noticeType}}{% if isDismissible %} is-dismissible{% endif %}">
    <div class="notice-wrapper">
        <div class="logo" style="display:inline-block">
            <img src="{{logoPath}}" alt="{{logoAlt}}" width="25px">
        </div>
        <div class="notice-body"  style="display:inline-block">
            <header>
                <h2>{{heading.pluginName}}</h2>
                <h3>{{heading.title}}</h3>
                {% if heading.description != '' %}<span>{{heading.description}}</span>{% endif %}
            </header>
            <div class="content">
            {{content}}
            </div>
        </div>
    </div>
</div>